<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo producto
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill= "solid"  color = "warning" (click)="newProduct()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color= "dark">
  <form [formGroup]="myform">
    <ion-item>
      <ion-label position="fixed">Nombre: </ion-label>
      <ion-input placeholder="Escriba el nombre del producto" required type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Precio:</ion-label>
      <ion-input placeholder="(#.##)" required type="text" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ingredientes</ion-label>
      <ion-toggle formControlName="check" (click)="arrayIngredients()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="this.myform.get('check').value">
      <ion-item>
        <ion-item>
          <ion-label>Ingredientes: </ion-label>
          <ion-input type="text" formControlName="ingredient"></ion-input>
        </ion-item>
        <ion-item>
          <ion-buttons slot="end">
            <ion-button (click)="newIngredient()">
              <ion-icon color="success" name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-item>
    </ion-item>
    <ion-list *ngFor="let ingredient of ingredients; let i = i">
      <ion-item>
        <ion-label>{{ingredient}}</ion-label>
        <ion-note slot="end">
          <ion-button color="danger" (click)="deleteIngredient(i)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
        </ion-note>
      </ion-item>
    </ion-list>
    
  </form>
</ion-content>