<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Food to go
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="danger" shape="round" (click)="signOut()">
        Cerrar sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card color= "dark">
    <ion-card-content *ngFor="let Food of food">
      <strong>{{Food.name}}</strong>
      <p>$ <strong>{{Food.price}}</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>